@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    background-color: peachpuff;
    font-family: 'Poppins', sans-serif;

}

h2 {
    color: brown
}